.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  
  .date-picker-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
  }
  