:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; 
  }
  
  .welcome-container {
    text-align: center;
  }
  
  h1 {
    font-size: 4rem;
    margin: 0;
  }
  